.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container .box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container .box ul {
  width: 50%;
}

.container .box ul .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container .box ul .card .options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .box ul .card .options .done {
  margin: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: rgb(150, 225, 106);
  border-radius: 5px;
}

.container .box ul .card .options .buttonConcluir {
  margin: 5px;
  font-weight: 700;
  width: 100px;
  background-color: rgb(124, 124, 235);
}

.container .box ul .card .options .buttonRemover {
  margin: 5px;
  font-weight: 700;
  width: 100px;
  background-color: rgb(240, 89, 89);
}
